/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

article {
	position: relative;
}

.post-image {
	margin-right: 350px;
}

.copy-block {
	position: absolute;
	top: 0;
	right: 0;
	width: 350px;
	height: 100%;
	padding-left: 50px;
	
	h1 {
		margin-top: 0;
	}
	
	.article-footer {
		position: absolute;
		left: 50px;
		bottom: 0;
		
		>p {
			margin: 0;
		}
	}
	
	section,
	footer {
		display: block;
	}
}

/**********************
BODY CLASSES
**********************/

.single {
	
	.post-image {
		float: left;
		margin: 0 20px 20px 0;
		width: 650px;
	}
	
	p:first-child {
		margin-top: 0;
	}
}  