/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
}

/*********************
HEADER STYLES
*********************/

.header {}

.inner-header {
	position: relative;
	margin: 50px;
	
	>ul {
		position: absolute;
		margin: 0;
		
		>li {
			@include inline-block;
			margin-left: 10px;
			
			>a {
				text-decoration: none;
			}
			
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.h1 {
	width: 155px;
	height: 50px;
	padding: 0;
	margin: 0;
	@include inline-block;
	>a {
		@include inline-block;
		@include sprite-desktop;
		height: 50px;
		width: 155px;
		font-size: 0;
		vertical-align: top;
		
		&:hover,
		&:focus,
		&:active {
			background-position: 0 -50px;
		}
	}
}

h2, .h2 {
	line-height: 1em;
}

.social-list {
	
	right: 0;
	top: 0;
	margin: 0;
	
	>li {
		
		>a {
			@include inline-block;
			@include no-text;
			@include sprite-desktop;
			width: 24px;
			height: 24px;
			font-size: 0;
			
			&.linked-in {
				background-position: 0 -109px;
				
				&:hover,
				&:focus,
				&:active {
					background-position: 0 -133px;
				}
			}
			
			&.git-hub {
				background-position: -25px -109px;
				
				&:hover,
				&:focus,
				&:active {
					background-position: -25px -133px;
				}
			}
			
			&.email {
				background-position: -50px -109px;
				
				&:hover,
				&:focus,
				&:active {
					background-position: -50px -133px;
				}
			}
		}
	}
}

.cat-list {
	right: 0;
	bottom: 0;
	
	>li {
		border: none;
		padding: 0;
		
		&:first-child {
			border: none;
		}
		
		>a {
			font-weight: lighter;
			letter-spacing: 1px;
			color: $light-grey;
			line-height: 1em;
			background: none;
			
			&:hover,
			&:focus,
			&:active {
				text-decoration: underline;
			}
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	background: #eee;
	border: 0;

	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				background-color: #dedede;

			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/
/*
.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	.textwidget {}
	.widget_text {}
	.textwidget p {}
*/

/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

