.no-backgroundsize { 
	.single,
	.page {
		article {
			.post-image {
				float: left;
				margin: 0 $pad-desktop / 2 $pad-desktop / 2 0;
			}
			
			.article-footer {
				position: relative;
				margin-top: $pad-desktop / 2;
			}
			
			h1 {
				margin-bottom: $pad-desktop / 2;
			}
		}
	}
	
	article {
		
		h1 a {
			font-size: inherit;
			line-height: inherit;
			&:hover {
				color: $grey-dark;
			}
		}
		position: relative;
		margin-top: $pad-desktop;
		border-bottom: none;
		
		h1 {
			font-size: 1.7em;
			line-height: 1.1em;
			margin: 0;
		}
		
		.post-image {
			display: block;
			width: 60%;
			font-size: 0;
			line-height: 0;
			border: 1px solid transparent;
			
			&:hover {
				border-color: $grey-light;
			}
			
			img {
				width: 100%;
				height: auto;
			}
		}
		
		.copy-block {
			position: absolute;
			right: 0;
			top: 0;
			width: 40%;
			height: 100%;
			overflow: hidden;
			
			>div {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 40px;
				overflow: hidden;
			}
			
			header,
			>.header,
			section,
			footer,
			.footer {
				margin-left: $pad-desktop / 2;
			}
		}
	}
	
	.article-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		
		p {
			margin: 0;
		}
		
		a {
			&:hover {
				color: $magenta;
			}
		}
	}
}

.blog,
.archive,
.search {
	.article-footer {
		@media screen and (min-width: 768px) {
			
			background: url(#{$img-path}wht-gradient.png) left top repeat-x transparent;
		}
	}
	
	p {
		background: white;
	}
}

.single,
.page {
	article {
		h1 {
			margin: 0 0 $pad-mobile / 2;
			
			@media screen and (min-width: 768px) {
				margin-bottom: $pad-desktop / 2;
			}
		}
		
		@media screen and (min-width: 768px) {
			.post-image {
				float: left;
			}
			
			.article-footer {
				position: relative;
				margin-top: $pad-desktop / 2;
			}
		}
		/*
		ul, ol {
			margin-left: $pad-desktop / 2;
		}
		*/
	}
	
	
}

article {
	//padding-bottom: $pad-mobile;
	margin-top: $pad-mobile;
	border-bottom: 1px dotted $grey-light;
	
	&:first-child {
		margin-top: 0;
	}
	
	h1 {
		font-size: 1.7em;
		
		>a {
			text-decoration: none;
			color: $grey-dark;
			
			&:active,
			&:focus {
				color: $grey-dim;
			}
			
			@media screen and (min-width: 768px) {
				&:hover {
					color: $grey-dim;
				}
			}
			
		}
		
		>.categories {
			color: $grey;
			white-space: nowrap;
			
			a {
				@include font-standard();
				font-style: normal;
				font-weight: 200;
				text-decoration: none;
				color: $grey;
				letter-spacing: normal;
				
				&:hover,
				&:focus {
					color: lighten($grey, 10%);
				}
			}
		}
	}
	
	p {
		&:first-child {
			//margin-top: 0;
		}
		
		em {
			@include font-headers();
			font-size: 1.5em;
			line-height: 1.1em;
			color: $grey-dark;
		}
	}
	
	ul, ol {
		padding: 0;
		//margin-left: $pad-desktop / 2;
		
		@media screen and (min-width: 768px) {
			margin-left: $pad-desktop / 2;
		}
	}
	
	li {
		//padding-left: 20px;
		list-style-position: inside;
	}
	
	@media screen and (min-width: 768px) {
		position: relative;
		margin-top: $pad-desktop;
		border-bottom: none;
		
		h1 {
			margin: 0;
		}
		
		.post-image {
			display: block;
			width: 60%;
			font-size: 0;
			line-height: 0;
			border: 1px solid transparent;
			//float: left;
			margin: 0 $pad-desktop / 2 $pad-desktop / 2 0;

			&:hover {
				border-color: $grey-light;
			}
			
			img {
				width: 100%;
				height: auto;
			}
		}
		
		.copy-block {
			position: absolute;
			right: 0;
			top: 0;
			width: 40%;
			height: 100%;
			overflow: hidden;
			
			>div {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0px;
				overflow: hidden;
			}
			
			header,
			section,
			footer {
				margin-left: $pad-desktop / 2;
			}
		}
	}
}

.article-footer {
	
	padding-bottom: $pad-mobile;
	
	@media screen and (min-width: 768px) {
		position: absolute;
		bottom: 0;
		//width: 100%;
		left: 0;
		right: 0;
		z-index: 100;
		//background: url(#{$img-path}wht-gradient.png) left top repeat-x transparent;
		padding-top: 15px;
		padding-bottom: 0;
	}
	
	>div {
		background: white;
		font-weight: 200;
	}
	
	p {
		color: $grey-dim;
		
		@media screen and (min-width: 768px) {
			margin: 0;
			padding-top: 10px;
			//background: white;
		}
	}
	
	a {
		color: $grey-dim;
		text-decoration: none;
		font-weight: 200;
		
		
		&:focus,
		&:active {
			color: $magenta;
		}
		
		@media screen and (min-width: 768px) {
			&:hover {
				color: $magenta;
			}
		}
		
	}
}