
article {
	
	&.post {
		//padding-bottom: $pad-mobile;
		margin-bottom: $pad-mobile + 10px;
		border-bottom: 1px dotted $grey-light;
	}
}

.article-footer {
	p {
		color: lighten($grey, 20%);
	}
	
	a {
		color: lighten($grey, 20%);
		text-decoration: none;
		
		&:focus,
		&:active {
			color: $grey;
		}
		
		@media screen and (min-width: 768px) {
			&:active,
			&:hover,
			&:focus {
				color: $grey;
				text-decoration: underline;
			}
		}
	}
}