$carousel-height-mobile: 280px;
$carousel-height-desktop: 700px;

.carousel {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: $carousel-height-mobile;
	padding: 0 $pad-mobile;
	margin-left: -$pad-mobile;
	
	.scroll-area {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 0 $pad-mobile;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	
	ul {
		
		margin: 0;
		//padding: 0 $pad-desktop 0 0; 
		white-space: nowrap;
		font-size: 0;
		line-height: 0;
		height: $carousel-height-mobile;
		//background: white;
		
		li {
			display: inline-block;
			//margin-left: $pad-desktop / 2;
			//padding-right: $pad-mobile;
			font-size: 0;
			line-height: 0;
			//width: 100%;
			vertical-align: top;
			height: 100%;
			
			img {
				height: 100%;
				width: auto;
			}
			
			&:last-child {
				margin-right: $pad-mobile;
			}
		}
	}
	
	
	.ui {
		a {
			position: absolute;
			//display: block;
			display: none;
			top: 0;
			left: 0;
			width: 30px;
			height: $carousel-height-mobile;
			//background: rgba(0,0,0,0.6);
			//@include wht-gradient-ltr;
			//background: white;
			//background: rgba(255,255,255,0.8);
			@include transform(translateZ(0) );
			
			>span {
				display: table-cell;
				vertical-align: middle;
				//display: none;
				width: 100%;
				height: 100%;
				//background: rgba(200,100,130,0.4);
				//text-align: center;
				
				>em {
					display: block;
					padding: 5px 0;
					background: rgba(255,255,255,0.8);
					
					@media screen and (min-width: 768px) {
						padding: 0;
						background: transparent;
					}
					
					>span {
						display: block;
						margin: 0 auto;
						width: 16px;
						height: 26px;
						font-size: 0;
						@include sprite(-144px, -110px);
						
						@media screen and (min-width: 768px) {
							width: 21px;
							height: 35px;
							background-position: -139px -40px;
						}
					}
				}
			}
			
			&.on {
				display: table;
				
				>span {
					//display: table; 
				}
			}
			
			&:active,
			&:hover,
			&:focus {
				>span{
					>em {
						>span {
							background-position: -125px -110px;
							
							@media screen and (min-width: 768px) {
								background-position: -115px -40px;
							}
						}
					}
				}
			}
			
			+a {
				left: auto;
				right: 0;
				//@include wht-gradient-rtl;
				>span {
					>em {
						>span {
							background-position: -144px -80px;
							
							@media screen and (min-width: 768px) {
								background-position: -139px 0;
							}
						}
					}
				}
				
				&:active,
				&:hover,
				&:focus {
					>span {
						>em {
							>span {
								
								background-position: -125px -80px;
								
								@media screen and (min-width: 768px) {
									background-position: -115px 0;
								}
							}
						}
					}
				}
			}
		}
	}
	
	@media screen and (min-width: 768px) {
		padding: 0 $pad-desktop;
		margin-left: -$pad-desktop;
		height: $carousel-height-desktop;
		
		.scroll-area {
			padding: 0 $pad-desktop;
		}
		
		ul {
			height: $carousel-height-desktop;
			li {
				//padding-right: $pad-desktop;
				
				&:last-child {
					margin-right: $pad-desktop;
				}
			}
		}
		
		.ui {
			a {
				width: $pad-desktop;
				height: $carousel-height-desktop;
				background: rgba(255,255,255,0.8);
			}
			
		}
	}
}